{% extends 'personas/plantilla.html' %}

{% block contenido %}

<div class="container">
    <h1 class="text-center mt-3">Registro de usuarios</h1>
    <p class="text-center"><a href="{% url 'personas:listar' %}">Ver usuarios registrados</a></p>

    <form method="post" action="{% url 'personas:registrar' %}" id="formulario" novalidate
        class="row g-3 needs-validation">
        {% csrf_token %}
        <div class="form-floating mb-1 col-4">
            <input type="text" id="nombre" name="nombre" class="form-control" required placeholder="nombre"
                pattern="^.*\S.*$">
            <label for="nombre" class="form-label">Nombre</label>
            <div class="invalid-feedback">
                No debe contener únicamente espacios
            </div>
        </div>

        <div class="form-floating mb-1 col-4">
            <input class="form-control" type="text" id="apellido" name="apellido" required placeholder="apellido"
                pattern="^.*\S.*$">
            <label for="apellido" class="form-label">Apellido</label>
            <div class="invalid-feedback">
                No debe contener únicamente espacios
            </div>
        </div>

        <div class="form-floating mb-1 col-4">
            <input class="form-control" type="email" id="email" name="email" required placeholder="email">
            <label class="form-label" for="email">Email</label>
            <div class="invalid-feedback">
                Ingrese su dirección de correo electrónico
            </div>
        </div>

        <div class="form-floating mb-1 col-4">
            <input class="form-control" type="date" id="fecha_nacimiento" name="fecha_nacimiento" required
                placeholder="fecha nacimiento">
            <label class="form-label" for="fecha_nacimiento">Fecha nacimiento</label>
            <div class="invalid-feedback">
                Por favor ingrese su fecha de nacimiento
            </div>
        </div>

        <div class="form-floating mb-1 col-8">
            <input class="form-control" type="text" id="comentario" name="comentario" required placeholder="comentario"
                pattern="[\S\s]{40,100}">
            <label class="form-label" for="comentario">Comentario</label>
            <div class="invalid-feedback">
                Ingrese entre 40 y 80 carácteres
            </div>
        </div>

        <div class="mb-1 col text-center">
            <input class="btn btn-primary" type="submit" value="Registrar">
        </div>

    </form>
</div>

<script>
    const formulario = document.getElementById('formulario')
    formulario.addEventListener('submit', (evento) => {
        if (!formulario.checkValidity()) {
            evento.preventDefault()
            evento.stopPropagation()
        }

        formulario.classList.add('was-validated')
    })
</script>

{% endblock contenido %}