{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <title>Supermercado</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'homepage/style.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <h1>Bienvenidos al supermercado</h1>
    <p>
        Esta es una página de ejemplo solamente. Le corresponde al equipo de desarrollo completar esto apropiadamente.
        Pero igualmente aquí hay un menú de control de productos muy rudimentario.
    </p>
</body>

</html>
