{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <title>Supermercado</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h1>Bienvenidos al supermercado</h1>
    <p>
        Esta es una página de ejemplo solamente. Le corresponde al equipo de
        desarrollo completar esto apropiadamente. Pero igualmente aquí hay
        un menú de control de productos muy rudimentario. Existen productos
        y categorías. Cada producto tendrá una propia categoría, además de
        otros datos. Por ejemplo, precio, cantidad,categoría, nombre, etc.
    </p>
    <h2><a href="{% url 'productos:index' %}">Productos</a></h2>
    <h2><a href="{% url 'categorias:index' %}">Categorías</a></h2>
</body>

</html>
